
.container-test {
  margin: 5px auto;
  display: grid;
  width: 1024px;
  grid-gap: 10px;
  grid-auto-rows: minmax(30px,auto);
  grid-template-columns: repeat(3, minmax(min-content,300px));
  grid-template-columns: repeat(auto-fit, minmax(min-content,300px));
  grid-template-columns: repeat(auto-fill, minmax(min-content,300px));

  width: 85%;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: minmax(30px,auto);
}

.header {
  grid-column: 1/-1;
  display: flex;
  justify-content: space-between;
  padding: 1% 10px;
}

.boxes {
  background-color: red;
}

.footer {
  grid-column: 1/-1;
  background-color: yellow;
}

.item {
  position: relative;
  margin: auto 0;
  border: 0.2px solid rgba(200,200,200,.3);
 /* text-align: center;
  justify-content: center;*/
  background-color: rgba(255,255,255,0.3);
}

.link {
  text-decoration: none;
}

.article-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 2px;
}

.text-category {
  font-family: 'Fira Sans', sans-serif;
  background-color: midnightblue;
  padding: 6px 5px;
  text-align: right;
  position: absolute;
  color: rgba(255,255,255,1);
  text-shadow: 1px 1px 2px black;
  top: -7.3%;
  font-size: 17px;
  text-transform: capitalize;
}

.text-branding{
  font-family: 'Fira Sans', sans-serif;
  position: absolute;
  bottom: -2px;
  font-size: 14px;
  color: rgba(80,80,80,.8);
  margin: 5px auto;
  padding: 0 5px;
}

.text-title {
  font-family: 'Fira Sans', sans-serif;
  font-size: 18px;
  padding: 0 5px;
  color: rgba(0,0,0,.85);
  margin-block-start: 1em;
  margin-block-end: 2em;
/*  margin: auto;*/
}
